<% [ result ] = Json.get("https://aed.azure-mobile.net", "/api/NearAED?lat=35.96&lng=136.185")
  latitude = Map.get(result,"Latitude")
  longitude = Map.get(result,"Longitude")
  locationName = Map.get(result,"LocationName")
%>

<%= latitude %><br> 
<%= longitude %><br>
<%= locationName %><br>

